/doc/boost-files.txt.xz
/tmp/
/boost-svn.dump
/boost.svnrepo.dump
/branches.txt
/*.o
/*.dSYM/
/subconvert
/.deps/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/m4/
/ltmain.sh
/missing
/stamp-h1
/system.hpp
/system.hpp.gch
